@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #e5e5e5;
    font-family: "Nunito Sans", sans-serif;
}
.container {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
