@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 20px;
    background-color: #e5e5e5;
    height: 100%;
}
.container {
    display: flex;
    padding: 20px 60px 20px 60px;
    height: 640px;
    width: 1200px;
    height: 700px;
}
